{% extends 'crud/base_crud.html' %}

{% block crud_content %}
<div class="crud-header">
    <h1>{% if object %}Редактировать товар{% else %}Добавить товар{% endif %}</h1>
    <a href="{% url 'assortment_list' %}" class="btn-crud btn-view">← Назад</a>
</div>

<form method="post" class="form-crud">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_name">Название:</label>
        {{ form.name }}
    </div>
    <div class="form-group">
        <label for="id_clothes_type">Тип одежды:</label>
        {{ form.clothes_type }}
    </div>
    <div class="form-group">
        <label for="id_category">Категория:</label>
        {{ form.category }}
    </div>
    <div class="form-group">
        <label for="id_price">Цена:</label>
        {{ form.price }}
    </div>
    <div class="form-group">
        <label for="id_stock_quantity">Количество на складе:</label>
        {{ form.stock_quantity }}
    </div>
    <div class="form-group">
        <label for="id_description">Описание:</label>
        {{ form.description }}
    </div>
    <button type="submit" class="btn-crud btn-create">Сохранить</button>
</form>
{% endblock %}

